/* Add your custom styles here */
body {
    padding-top: 56px; /* Adjust the top padding to accommodate the fixed navbar */
}

.container {
    margin-top: 50px; /* Adjust the margin for content below the navbar */
}

.container mt-5 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0; /* Optional: Add some margin for better spacing */
}